.vs/Pwsglab2/v14/.suo
Pwsglab2.sln
Pwsglab2/bin/Debug/background.png
Pwsglab2/bin/Debug/basket.png
Pwsglab2/bin/Debug/best_scores.txt
Pwsglab2/bin/Debug/Pino-Hanna-Barbera-Yogi-Bear.ico
Pwsglab2/bin/Debug/Pwsglab2.exe
Pwsglab2/bin/Debug/Pwsglab2.exe.config
Pwsglab2/bin/Debug/Pwsglab2.pdb
Pwsglab2/bin/Debug/Pwsglab2.vshost.exe
Pwsglab2/bin/Debug/Pwsglab2.vshost.exe.config
Pwsglab2/bin/Debug/Pwsglab2.vshost.exe.manifest
Pwsglab2/bin/Debug/rock.png
Pwsglab2/bin/Debug/Yogi_Bear.png
Pwsglab2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Pwsglab2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Pwsglab2/obj/Debug/Pwsglab2.csproj.FileListAbsolute.txt
Pwsglab2/obj/Debug/Pwsglab2.csproj.GenerateResource.Cache
Pwsglab2/obj/Debug/Pwsglab2.csprojResolveAssemblyReference.cache
Pwsglab2/obj/Debug/Pwsglab2.exe
Pwsglab2/obj/Debug/Pwsglab2.Form1.resources
Pwsglab2/obj/Debug/Pwsglab2.pdb
Pwsglab2/obj/Debug/Pwsglab2.Properties.Resources.resources
Pwsglab2/obj/Debug/Pwsglab2.Settings.resources
Pwsglab2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Pwsglab2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Pwsglab2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Pwsglab2/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
